.wrapper
  width: 100%
  height: 100px
  display: flex
  flex-direction: row
  justify-content: center

.container
  width: 1140px

.header
  display: flex
  flex-direction: row
  justify-content: space-between

.container__header
  margin: 1rem

.logo
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.logo__text
  font-size: 2rem
  margin: 0

.search
  display: flex
  justify-content: center
  align-items: center

$searchElementHeight: 2rem

.search__browse
  height: $searchElementHeight

.search__input
  width: 25rem
  height: ($searchElementHeight - 0.4rem)
  padding: 1px 1rem


.search__find
  height: $searchElementHeight
